* {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }

html, body {
    width: 850px;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
  }

a {
    text-decoration: none;
}

a:hover {
    cursor:pointer
}


.home-header .hero {
    background-color: #ffffff;
    background-image: url("images/bg2.png");
    background-size: cover;
    margin: 0%;
    margin-left: auto;
    margin-right: auto;
}

.home-header .hero .container {
    height: 220px;
    margin: 0%;
    margin-right:auto;
    margin-left: auto;
    padding-top: 70px;
    position: relative;
}

.nav-bar {
    background-color: #86CD7D;
    height: 32px;
    margin: 0%;
    margin-right:auto;
    margin-left: auto;
}

.nav-bar ul {
    text-align: right;
    margin: 0%;
    padding: 7px;
    padding-right: 15px;
}

.nav-bar li {
    display: inline;
    color: #ffffff;
    font-size: 20;
    font-weight: bold;
    padding: 4px;
}

.nav-bar ul a {
    color: #ffffff
}

.nav-bar ul a:hover {
    color: #558A5D;
}

.home-body {
    margin-top: 70px;
    margin-bottom: 70px;
}

.flex-container {
    display: flex;
    width: 88%;
    margin-left: auto;
    margin-right: auto;
}

.flex-child {
    flex: 1;
    /* border: 2px solid yellow; */
}

.flex-child:first-child {
    height: 350px;
    margin-right: 20px;
}

.left {
    width: 90%;
    height: 350px;
    background-color: #F5F5E7;
    border-radius: 8%;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
}

.left .container {
    width: 80%;
    margin: 0;
    padding-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.left .container p{
    text-align: left;
    line-height: 2;
    color: #505B6B;
    font-size: 16px;
    font-weight: 500;
}

.right .container {
    margin-top: 54px;
}

.right .container form {
    margin-top: 15px;
}

.right .submit-btn {
    width: 68px;
    height: 35px;
    background-color: #FEDB68;
    border: none;
    border-radius: 15px;
    font-size: 13px;
    font-weight: 600;
}

.right .submit-btn:hover {
    cursor: pointer;
    background-color: #F9B723;
    color: white;

}

#input-uniprot {
    width: 180px;
    height: 25px;
    border: 2px solid #FEDB68;
    margin-right: 25px;
    padding-left: 10px;
    font-size: small;
    box-shadow: rgba(17, 10, 1, 0.06) 0px 2px 4px 0px inset;
}

#example {
    color: #A0A4A9;
    font-size: small;
    margin-top: 5px;
    padding-left: 5px;
}

#example a:hover{
    color: #505B6B
}

.right label {
    font-weight: 500;
}

footer .container{
    width: 96%;
    height: 100px;
    margin-right:0;
    margin-left: auto;
    position: relative;
    background-color: white;
}

#msc_left {
    display: block;
    float: left;
    margin-top: 40px;
    color: #7e8692;
}

#ic_logo_right {
    float: right;
    padding-top: 15px;
}

.results-header .hero {
    background-color: #ffffff;
    background-image: url("images/bg3.png");
    background-size: cover;
    margin: 0 0 auto auto;
}

.results-header .hero .container {
    height: 80px;
    margin: 0 0 auto auto;
    padding-top: 70px;
    position: relative;
}
